__pycache__/
*.py[cod]
*$py.class

.pytest_cache/
.mypy_cache/

.venv/

dist/

htmlcov/
.coverage*
coverage.xml

docs/_build/

.python-version

.idea/
.vscode/
.spyproject/
.spyderproject/

.DS_STORE

.env
*.bak
